body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Arial, sans-serif;
}

#Analytics {
    width: 60vh;
    height: 40vh;
    margin: 20px auto;
    display: block;
    border: 1px solid #ccc;
}

h1 {
    color: rgb(97, 0, 0);
}