body {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#LoginFrame{
    background-color: rgb(97, 0, 0);
    width: 30vh;
    height: 35vh;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h2{
    margin-bottom: 7vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    margin-bottom: 1vh;
    background-color: rgb(173, 173, 173);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(95, 0, 0);
    border-radius: .5vh;
    height: 3vh;
    transition: .2s;
}

button{
    margin-bottom: 1vh;
    background-color: rgb(173, 173, 173);
    border-style: outset;
    border-radius: .5vh;
    height: 3vh;
    transition: .2s;
}

input:hover{
    background-color: white;
}

button:hover{
    background-color: white;
    border-style: inset;
}

p{
    color: rgb(255, 167, 167);
}