body {
    border: none;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

#header{
    background-color: rgb(97, 0, 0);
    height: 100px;
    padding-right: 5vh;
    display: flex;
    align-items: center;
    justify-content: right;
}

.header_button{
    height: 5vh;
    width: 15vh;
    background-color: rgb(97, 0, 0);
    border-color: white;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 50vh;
    color: white;
    transition: .2s;
}

.header_button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(97, 0, 0);

}

/* Dropdown Button */
.dropbtn {
    height: 5vh;
    width: 15vh;
    background-color: rgb(97, 0, 0);
    border-color: white;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 50vh;
    color: white;
    transition: .2s;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    padding-top: 2px;
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: flex;
    height: 5vh;
    width: 15vh;
    background-color: rgb(97, 0, 0);
    border-color: white;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 50vh;
    color: white;
    transition: .2s;
    align-items: center;
    justify-content: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(97, 0, 0);
    border-color: rgb(97, 0, 0);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgb(255, 255, 255);
    color: rgb(97, 0, 0);
}

#NewsResume{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

#ResumeParam{
    width: 80vh;
    height: 80vh;
}

#ResumePreview{
    width: 80vh;
    height: 80vh;
}

.Info{
    width: inherit;
    height: inherit;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 1s ease;
}

.Info:hover{
    background-size: 110%;
}

.News_Content{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.News_Text{
    padding: 1vh;
    color: white;
    display: flex;
    flex-direction: column;   /* ⬅️ IMPORTANT */
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0);
}

.News_Resume{
    margin-left: 1vh;
}

.HorizontalSep{
    background-color: rgb(97, 0, 0);
    width: 100%;
    height: 4px;
}

#AddPartDiv{
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 7vh;
    display: flex;
    align-items: center;
}

#AddPart{
    background-color: rgb(0, 212, 0);
    height: 5vh;
    width: 15vh;
    border-radius: 2vh;
    border-style: solid;
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#AddPart:hover{
    background-color: rgb(85, 255, 85);
}

.popup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-content {
    background: #111;
    color: white;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 250px;
}

.popup-content button {
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.close {
    background: #444;
}

.BlogImg{
    max-width: 80vh;      /* largeur max */
    max-height: 80vh;     /* hauteur max */
    width: 100%;
    object-fit: contain;  /* garde les proportions */
}

.DivText{
    width: 80vh;
    height: 80vh;
}

.DivImg{
    width: 80vh;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ImgOnLeft{
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly ;
}

.ImgOnRight{
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Textarea{
    width: 80vh;
    height: 80vh;
    font-size: 20px;
}

.HoriSep{
    width: 2vh;
}

#Title{
    align-self: center;
    justify-self: center;
    font-size: 80px;
}

.ImgDisplay{
    height: 80vh;
    width: 120vh;
    background-color: black;
}

.ImgDisplayer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.GoLeft{
    width: 10vh;
    height: 80vh;
    background-color: grey;
}

.GoRight{
    width: 10vh;
    height: 80vh;
    background-color: grey;
}

#header{
    background-color: rgb(97, 0, 0);
    height: 15vh;
    padding-right: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vh;
}

.header_button{
    height: 5vh;
    width: 15vh;
    background-color: rgb(97, 0, 0);
    border-color: white;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 50vh;
    color: white;
    transition: .2s;
}

.header_button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(97, 0, 0);

}

#MainLogo{
    max-height: 100%;
    align-self: left;
}

#MainTitle{
    color: white;
    font-size: 50px;
}

#NewsContainer{
    margin-left: 10vh;
    margin-right: 10vh;
}