body {
    border: none;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

#header{
    background-color: rgb(97, 0, 0);
    height: 100px;
    padding-right: 5vh;
    display: flex;
    align-items: center;
    justify-content: right;
}

.header_button{
    height: 5vh;
    width: 15vh;
    background-color: rgb(97, 0, 0);
    border-color: white;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 50vh;
    color: white;
    transition: .2s;
}

.header_button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(97, 0, 0);

}

/* Dropdown Button */
.dropbtn {
    height: 5vh;
    width: 15vh;
    background-color: rgb(97, 0, 0);
    border-color: white;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 50vh;
    color: white;
    transition: .2s;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    padding-top: 2px;
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: flex;
    height: 5vh;
    width: 15vh;
    background-color: rgb(97, 0, 0);
    border-color: white;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 50vh;
    color: white;
    transition: .2s;
    align-items: center;
    justify-content: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(97, 0, 0);
    border-color: rgb(97, 0, 0);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgb(255, 255, 255);
    color: rgb(97, 0, 0);
}

#Analytics{
    width: 60vh;
    height: 40vh;
}